.root{
	-fx-background-color: "black";
	-fx-background-color: #111111;
}

.label{
	-fx-font-size: 20;
	-fx-font-family: "Lucida Console";
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
}

#textLabel{
	-fx-font-size: 60;
}